s3sync: /path/to/s3sync.rb

connections:

  connection1:
    AWS_ACCESS_KEY_ID: over
    AWS_SECRET_ACCESS_KEY: 9000
    SSL_CERT_DIR: /path/to/certs/

    jobs:
      # Example of file backup
      job1:
        type:       files           # Default: files
        options:    srv             # Default: srv
        timestamp:  true            # default: false (for files, always true for dbs)
        from:       /foo.txt        # Required (for files only, not dbs)
        to:         bucket:foo

      # Example of database backup
      job2:
        dbs:                        # Array of database names (Based on one db user/pass. Create additional jobs for different user/pass auths.)
          - db_name_1
          - db_name_2
        user:       root            # Optional
        pass:       ******          # Optional
        host:       localhost       # Optional
        args:       --quick         # Optional
        command:    mysqldump       # Optional (default: mysqldump)
        to:         bucket:foo2